[submodule "Src/QvtkUtil"]
	path = Src/QvtkUtil
	url = git@github.com:wuzhuobin/QvtkUtil.git
[submodule "Src/MainWindow/MedicalImageFinder"]
	path = Src/MainWindow/MedicalImageFinder
	url = git@github.com:wuzhuobin/MedicalImageFinder.git
[submodule "Src/MainWindow/ctkDicomAppWidget2"]
	path = Src/MainWindow/ctkDicomAppWidget2
	url = git@github.com:wuzhuobin/ctkDicomAppWidget2.git
[submodule "Src/ThirdParty/BET2"]
	path = Src/ThirdParty/BET2
	url = git@github.com:wuzhuobin/bet2.git
